@import "../variables.scss";
.features {
    height: 100vh;
    .features-inner {
        margin-top: 33vh;
        display: flex;
        justify-content: flex-end;
        // align-items: flex-end;
        .features-content {
            width: 50%;
            @media (max-width: $widescreen) {
                width: 60%;
            }
            h3 {
                font-family: 'Roboto Condensed', sans-serif;
                color: $blue;
                font-size: 3.375rem;
                line-height: 3.5rem;
                text-transform: uppercase;
                margin: 0 0 30px;
            }
            p {
                font-size: 1.125rem;
                line-height: 2.25rem;
                font-weight: 300;
                color: $blue;
                margin-bottom: 70px;
                @media (max-width: $widescreen) {
                    padding-right: 60px;
                }
            }
            .btn-row {
                a {
                    font-size: 1.125rem;
                    color: $blue;
                    text-decoration: none;
                    font-weight: 600;
                    img {
                        margin-left: 16px;
                    }
                }
            }
        }
        .features-list {
            width: 50%;
            display: flex;
            justify-content: center;
            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 0;
                li {
                    list-style: none;
                    img {
                        margin-bottom: 24px;
                    }
                    h5 {
                        color: $blue;
                        font-weight: 600;
                        font-size: 1.2rem;
                        margin: 0;
                    }
                    p {
                        line-height: 1.8rem;
                        font-weight: 300;
                        color: $blue;
                        width: 270px;
                        margin: 16px 0 72px;
                        font-size: 1rem;
                        @media (max-width: $widescreen) {
                            font-size: .875rem;
                        }
                    }
                }
            }
        }
    }
}